@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  input[type="submit"] {
    background-color: #008ABF;
    color: #fff;
    width: 520px;
    font-weight: bold;
    cursor: pointer;
  }
  
  a {
    text-align: center;
    padding-left: 700px;
    color: #b29696;
    text-decoration: none;
  }
  